

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Senator Contact Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_root.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

    <div class="container">
        <h1>Contact your senators for issues that matter</h1>
        <h3>Make this timelkine suck a little less for some of us.</h3>

    </div>
    <div class="container">
        <h2>Step1:</h2>
            <p>
            Understand the issue
            <br>
            <a href="https://www.nbcnews.com/nbc-out/out-politics-and-policy/house-passes-tax-bill-bans-medicaid-covering-transition-related-care-rcna208618">News coverage</a>
            <br>
            <a href="https://www.congress.gov/bill/119th-congress/house-bill/1/text">The bill itself</a>
            <br>
            </p>

        <h2>Step2:</h2>
            <p>
            Select your state
            </p>
            <select id="stateDropdown" onchange="fetchSenators()">
                <option value="">-- Select a State --</option>
            </select>

            <div id="results"></div>
            <script src="{{ url_for('static', filename='app.js') }}"></script>

            <h2>Step3:</h2>
            <p>
            Call both of your senators and read the following three sentences:
            </p>
            <p>
            <q>
            I would like to leave a message for the senator regarding bill H.R.1.<br>This bill would negatively impact hundreds of thousands
            of adult transgender Americans, who would be in jeopardy of losing access to medication. The House of
            Representatives gave this bill overreaching power and I strongly urge the senator to vote against H.R.1.  <br><br>Thank you.
            </q>
            </p>


        <h2>Step4:</h2>
            <p>
            Pass this along.<br>Bonus points if you also click on the contact link
            above and send them an email. 
            </p>
    </div>
</body>
</html>


